* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #E8E9E9;
}

/* Encabezado */ 

.header {
	width: 100%;
	height: 95px;
	background-color: #fff;
}

.logo {
	width: 230px;
	height: auto;
	padding: 10px 0px;
	display: inline-block;
	margin-left: 550px;
}

.logo img {
	width: 100%;
	height: auto;
}

.menu {
	width: 30px;
	height: 30px;
	padding-right: 60px;
	padding-top: 30px;
	float: right;
}

.fa-bars:before {
	color: #505050;
	font-size: 1.5em;
}
/* Contenido */

.main {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.box-title {
	margin-bottom: 10px;
}

.sidebar {
	width: 30%;
	height: auto;
	float: left;
}

.user {
	width: 100%;
	height: auto;
	background-color: #E8E9E9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.user p, .user h3, .user h4, .sidebar-box {
	text-align: left;
	margin: 0px;
	padding: 5px;
}

.fa-user-circle:before {
	font-size: 6em;
	color: #505050;
}

.sidebar-box {
	width: 100%;
	height: auto;
	background-color: #e3ad00;
	padding: 10px;
	margin: 10px;
}

.welcome {
	width: 90%;
	height: auto;
	min-height: 75px;
	padding: 1px 1px 10px 1px;
	background-color: #e3ad00;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.welcome h1 {
	margin: 0;
	padding-top: 10px;
	text-align: center;
}

.principal {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;

}
.country {
	width: 66%;
	height: 155px;
	margin-top: 10px;
	padding-top: 15px;
	color: #fff;
	display: inline-block;
}

.country h1 {
	font-size: 3em;
	display: inline-block;
	margin-right: 100px;
	vertical-align: middle;
}

.chile {
	background-color: #5238AB;
}

.peru {
	background-color: #B40050;
}

.mexico {
	background-color: #00806E;
}

/* Menu de Opciones */

.select-country, #new-result {
	border: none;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 5px; 
	font-size: 1em;
	color: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	vertical-align: middle;
}

select::-ms-expand {
	display: none;
}


/* Estadisticas */

.menu-section {
	width: 90%;
	display: inline-block;
	background-color: #e3ad00;
	margin-left: auto;
	margin-right: auto;
}

#studentslink, #teacherslink, #overviewlink {
	text-decoration: none;
	color: #303030;
	font-weight: bold;
	padding: 5px;
}

#studentslink:hover, #teacherslink:hover, #overviewlink:hover {
	text-decoration: underline;
	color: #606060;
}

#new-result {
	float: right;
    margin-right: 10px;
}

/* Cajas */

.grid, .full {
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
	text-transform: uppercase;
}

.grid {
	width: 32%;
	min-height: 340px;
	margin: 8px;
}

.full {
	width: 98%;
	height: auto;
	margin: 10px;
	padding-bottom: 15px;
}

.grid-skills {
	width: 60%;
	float: left;
}

.grid-cake {
	width: 40%;
	height: 300px;
	float: right;
	vertical-align: bottom;
}

.box-number, .box-percent {
	width: 40%;
	height: 125px;
	margin: 0 5px 10px 5px;
	display: inline-block;
	background-color: #fff;
	vertical-align: top;
	text-transform: uppercase;
}

.box-number p , .box-percent p {
	font-size: 0.7em;
	color: #404040;
}

.box-number h4 , .box-percent h4 {
	font-size: 1.1em;
}

.box-number h4 {
	color: #404040;
}

.box-percent h4 {
	color: #68ad1c;
}

.box-percent .red {
	color: #ea5151;
}

.graphic {
	width: 82%;
	height: auto;
	background-color: #fff;
	margin-left: auto; 
	margin-right: auto;
}

/* Students Section */

.specialization{
    width: 30%;
    height: auto;
    background-color: #E8E9E9;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 0.8em;
    text-align: left;
}
.specialization form input{
    font-size: 0.8em;
}

.column {
    float: left;
    width: 68%;
    height: auto;
    padding: 5px;
}

.student {
    background-color: #E8E9E9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.photo{
    width: 100px;
    height: 100px;
    clip: rect(5px, 40px, 45px, 5px);
    display: inline-block;
    
    
}
.photo img{
    height: 100px;
    width: 100px;
    max-height: 200%;
    max-width: 200%;
}
.student h4{
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 10px;
}